.main-header{
background-color: transparent;
}

.main-image-profile{
    background-color: rgb(39, 39, 39);
    overflow: hidden;
    width:100%;
    height:70%;
    border-radius:20px;
}
.main-image-profile img{
 object-fit:contain;   
 border-radius:10px;
}

.profile-header-details{
    padding:10px;
    text-transform: capitalize;
    cursor: pointer;
}

.profile-header-details h4 {
    font-weight: bold;
}

.profile-header-details h5{
    color: gray;
    font-weight: bold;
}